.info-modal-component {

    display: flex;
    align-items: center;

    .footer-container {

        padding: 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 700;
        color: #cda434;
        border-top: 1px solid gainsboro;
    }
}