.modal-component {

    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    z-index: 10;

    .modal-container {

        max-height: 92vh;
        padding: 1rem;
        background: #fff;
        overflow: auto;

        .modal-header {

            display: flex;
            justify-content: flex-end;

            .close-icon {}
        }
    }

    @media (min-width: 768px) {

        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 992px) {

        .modal-container {
            max-width: 50%;
        }
    }
}