<template>
    <div class="contact-component space-y-6">
        <h1 class="font-bold text-center">
            ¿Alguna duda?
        </h1>
        <div class="info-container space-y-4">
            <p>Si tienes cualquier duda o nos quieres comentar algo, 
                no dudes en contactar con nosotros.
            </p>
            <div>
                <p>
                    <span class="font-bold">Alicia:</span>
                    <a class="link" href="tel:+34637016095">637016095</a>
                </p>
                <p>
                    <span class="font-bold">Urbano:</span>
                    <a class="link" href="tel:+34678101992">678101992</a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ContactComponent'
}
</script>