<template>
	<div>
		<div class="countdown-component max-w-xl m-auto" v-if="!isFinishCountdown">
			<div class="countdown-item">
				<h2>{{ days }}</h2> 
				<span>días</span>
			</div>
			<div class="countdown-item">
				<h2>{{ hours }}</h2>
				<span>horas</span>
			</div>
			<div class="countdown-item">
				<h2>{{ minutes }}</h2>
				<span>minutos</span>
			</div>
			<div class="countdown-item">
				<h2>{{ seconds }}</h2>
				<span>segundos</span>
			</div>
		</div>
		<a v-else
			class="text-xl underline cursor-pointer"
			href="https://drive.google.com/drive/folders/1DxlL5YO7s_r7htbF8aQGbExpN_zU1y0U?usp=sharing" 
		>
			Álbum de fotos
		</a>
  	</div>
</template>

<script>
export default {
	name: 'CountdownComponent',
	data() {
		return {
			distance: null
		};
	},
	created() {

		setInterval(() => {

			const now = new Date();
			const weddingDate = new Date(1687627800000);

			this.distance = weddingDate - now;

		}, 1000);
	},
	computed: {
		days() {
			return Math.floor(this.distance / (1000 * 60 * 60 * 24));
		},
		hours() {
			return Math.floor((this.distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		},
		minutes() {
			return Math.floor((this.distance % (1000 * 60 * 60)) / (1000 * 60));
		},
		seconds() {
			return Math.floor((this.distance % (1000 * 60)) / 1000);
		},
		isFinishCountdown() {
			return true;
		}
	}
};
</script>
