<template>
  <div class="error-text-component">
    <span>{{ error }}</span>
</div>
</template>

<script>
export default {
    name: 'ErrorTextComponent',
    props: {
        error: String
    }
}
</script>