<template>
  <div class="fab-button-component shadow-md"
    :class="classes"
    @click="$emit('click')"
  >
    <span :class="`icon icon-${name}`" />
  </div>   
</template>

<script>
export default {
    name: 'FABButtonComponent',
    props: {
        name: String,
        small: Boolean
    },
    computed: {
      classes() {
        return {
          'small': this.small
        };
      }
    }
}
</script>