<template>
  <div class="feedback-component" :class="classes">
    <v-icon v-if="false">
        {{ iconName }}
    </v-icon>
    <slot />
  </div>
</template>

<script>
export default {
    name: 'FeedbackComponent',
    props: {
        type: String
    },
    computed: {
        classes() {

            return {
                'success': this.type === 'success',
                'error': this.type === 'error'
            };
        },
        iconName() {
            return this.type === 'success' ? 'mdi-success' : 'mdi-error';
        }
    }

}
</script>