<template>
    <div class="footer-component text-center">
        <div class="info">Alicia & Urbano - 24 Junio 2023</div>
        <div class="copyright">BeApps 2023 © Todos los derechos reservados</div>
    </div>
</template>

<script>
export default {
    name: 'FooterComponent'
}
</script>