<template>
  <div class="gallery-component space-y-6">

    <h1 class="text-center font-bold">
        ¡NOS CASAMOS!
    </h1>

    <p>
        Diez años juntos desde que una noche italiana, en nuestro Erasmus, nos diéramos cuenta de que formábamos el mejor equipo.
        Y ha llegado el día de celebrarlo por todo lo alto acompañados de los mejores.
        <br><br>
        ¡A ponerse guapos, y con las pilas cargadas, que estamos preparando una fiesta que va a ser la pera limonera 🍋!
    </p>

    <div class="carousel-component">
        <v-app>
            <v-carousel hide-delimiters>
                <v-carousel-item
                    src="/imgs/gallery/wedding_1.jpeg"
                />
                <v-carousel-item
                    src="/imgs/gallery/wedding_2.jpeg"
                />        
                <v-carousel-item
                    src="/imgs/gallery/wedding_3.jpeg"
                />
                <v-carousel-item
                    src="/imgs/gallery/wedding_4.jpeg"
                />
            </v-carousel>
        </v-app>
    </div>

  </div>
</template>

<script>
export default {
    name: 'GalleryComponent'
}
</script>