<template>
    <div class="gift-list-component space-y-6">
        <h1 class="font-bold text-center">
            Lista de bodas
        </h1>
        <div class="space-y-6 flex flex-col items-center">
            <p>
                Si un regalo nos quieres hacer, en metálico se va a agradecer.
            </p>
            <div class="bg-white shadow p-6">
                <p>
                    <span class="font-bold">Banco:</span> 
                    BBVA
                </p>
                <p>
                    <span class="font-bold">IBAN:</span> 
                    ES83 0182 0388 4102 0208 6577
                </p>
                <p>
                    <span class="font-bold">Beneficiario:</span> 
                    Indistintamente Alicia Romero o Urbano Sánchez.
                </p>
            </div>
            <p class="font-bold">
                <span class="mr-2 tracking-[.25rem]">¡MUCHÍSIMAS</span>
                <span class="tracking-[.25rem]">GRACIAS!</span>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'GiftListComponent'
}
</script>