<template>
  <div class="guest-form-component">
    <h1 class="text-center font-bold">
      Confirma tu asistencia
    </h1>
    <v-form class="form-container my-4 space-y-4 mb-6">
      <!-- Name & Surnames -->
      <div class="space-y-4 sm:space-y-0 sm:flex">
        <div class="name w-full sm:mr-4">
          <v-text-field
            v-model="form.name.value"
            label="Nombre"
            :disabled="Boolean(isLoading)"
          />
          <ErrorTextComponent :error="form.name.error" />
        </div>
        <div class="surnames w-full">
          <v-text-field
            v-model="form.surnames.value"
            label="Apellidos"
            :disabled="Boolean(isLoading)"
          />
          <ErrorTextComponent :error="form.surnames.error" />
        </div>
      </div>
      <!-- Email -->
      <div class="email">
        <v-text-field
          v-model="form.email.value"
          label="Email"
          :disabled="Boolean(isLoading)"
        />
        <ErrorTextComponent :error="form.email.error" />
      </div>
      <!-- Phone -->
      <div class="phone">
        <v-text-field
          v-model="form.phone.value"
          label="Teléfono"
          :disabled="Boolean(isLoading)"
        />
        <ErrorTextComponent :error="form.phone.error" />
      </div>
      <!-- Intolerances -->
      <div class="intolerances">
        <v-text-field
          v-model="form.intolerances.value"
          label="Intolerancias"
          :disabled="Boolean(isLoading)"
        />
      </div>
      <!-- Bus -->
      <div class="bus space-y-2">
        <v-checkbox
          v-model="form.hasBus.value"
          label="¿Necesitas autobús?"
          :disabled="Boolean(isLoading)"
        />
        <div v-if="form.hasBus.value" class="space-y-4">
          <p class="text-sm font-bold">
            Por favor, confirma tu asiento si lo vas a precisar en el viaje de IDA.
            Respecto a las vueltas, habrá dos a lo largo de la noche sin necesidad de reserva.
          </p>
          <v-text-field
            type="number"
            v-model="form.numBusSeats.value"
            label="Nº plazas autobús"
            :disabled="Boolean(isLoading)"
          />
        </div>
      </div>
      <!-- Partner -->
      <div class="partner-container">
        <v-checkbox
          v-model="hasPartner"
          label="¿Traes acompañante?"
          :disabled="Boolean(isLoading)"
        />
        <div v-if="hasPartner && form.partner" class="space-y-4 sm:space-y-0 sm:flex">
          <div class="partner-name w-full sm:mr-4">
            <v-text-field
              v-model="form.partner.name.value"
              label="Nombre"
              :disabled="Boolean(isLoading)"
            />
            <ErrorTextComponent :error="form.partner.name.error" />
          </div>
          <div class="partner-intolerances w-full">
            <v-text-field
              v-model="form.partner.intolerances.value"
              label="Intolerancias"
              :disabled="Boolean(isLoading)"
            />
          </div>
        </div>
      </div>
      <!-- Childs -->
      <div class="childs-container">
        <div class="add-child-btn" @click="addChild()">
          <v-btn fab dark small>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
          <span>Añadir hijo</span>
        </div>
        <div v-for="(child, index) in form.childs" :key="index"
          class="child-form-container"
        >
          <div class="child-form space-y-4 sm:space-y-0 sm:flex items-end">
            <div class="child-name">
              <v-text-field
                v-model="form.childs[index].name.value"
                label="Nombre"
                :disabled="Boolean(isLoading)"
              />
              <ErrorTextComponent :error="form.childs[index].name.error" />
            </div>
            <div class="child-intolerances sm:mx-4">
              <v-text-field
                v-model="form.childs[index].intolerances.value"
                label="Intolerancias"
                :disabled="Boolean(isLoading)"
              />
            </div>
            <div class="flex justify-between items-baseline">
              <div class="child-menu">
                <v-checkbox
                  v-model="form.childs[index].hasChildMenu.value"
                  label="¿Menú infantil?"
                  :disabled="Boolean(isLoading)"
                />
              </div>
              <v-icon class="delete-child-btn"  
                @click="deleteChild(index)"
              >
                mdi-delete
              </v-icon>
            </div>
          </div>
        </div>
      </div>
    </v-form>
    <div class="btn-form mb-2 flex justify-center">
      <v-btn
        outlined
        @click="confirmAssistance()"
      >
        <span class="mr-2">CONFIRMAR ASISTENCIA</span>
        <img v-if="isLoading"
          class="loading" 
          src="/imgs/loading.gif" 
          alt="loading"
        >
      </v-btn>
    </div>
    <FeedbackComponent v-if="feedback" :type="feedback.type">
      {{ feedback.text }}
    </FeedbackComponent>
  </div>
</template>

<script>

const ErrorTextComponent = () => import('./ErrorTextComponent.vue');
const FeedbackComponent = () => import('./FeedbackComponent.vue');

export default {
	name: 'GuestFormComponent',
  components: {
    ErrorTextComponent,
    FeedbackComponent
  },
	data: () => ({
    form: {
      name: {
        value: '',
        required: true,
        error: ''
      },
      surnames: {
        value: '',
        required: true,
        error: ''
      },
      email: {
        value: '',
        pattern: null,
        //pattern: new RegExp(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/g),
        required: false,
        error: '',
        invalidError: 'Formato inválido'
      },
      phone: {
        value: '',
        pattern: null,
        //pattern: new RegExp(/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/g),
        required: false,
        error: '',
        invalidError: 'Formato inválido'
      },
      intolerances: {
        value: '',
        pattern: null,
        required: false,
        error: ''
      },
      hasBus: {
        value: false
      },
      numBusSeats: {
        value: null,
        pattern: null,
        required: false,
        error: ''
      }
    },
    isLoading: false,
    errors: [],
    hasPartner: false,
    feedback: null
  }),
  computed: {
    newGuest() {

      let guest = {
        name: this.form.name.value,
        surnames: this.form.surnames.value,
        email: this.form.email.value,
        phone: this.form.phone.value,
        hasBus: this.form.hasBus.value,
        intolerances: this.form.intolerances.value,
        numBusSeats: Number(this.form.numBusSeats.value)
      };

      // Partner
      if(this.form.partner) {
        guest = { 
          ...guest,
          partner: {
            name: this.form.partner.name.value,
            intolerances: this.form.partner.intolerances.value,
          }
        }
      }

      // Childs
      if(this.form.childs) {

        const childs = this.form.childs.map(child => ({
          name: child.name.value,
          intolerances: child.intolerances.value,
          hasChildMenu: child.hasChildMenu.value,
        }));

        guest = { ...guest, childs };
      }

      return guest;
    }
  },
	methods: {
		addChild() {

      if(this.isLoading) {
        return;
      }

			const child = { 
        name: {
          value: '',
          required: true,
          error: ''
        }, 
        intolerances: {
          value: '',
          required: false,
          error: ''
        }, 
        hasChildMenu: {
          value: false
        } 
      };

			if(this.form.childs) {
        
				this.form.childs.push(child);
				return;
			}

			this.form = {
				...this.form,
				childs: [child]
			};
		},
		deleteChild(index) {

      if(this.isLoading) {
        return;
      }

			this.form.childs.splice(index, 1);
		},
		confirmAssistance() {
      return;

      /*this.errors = [];

      this.checkGuestValidForm()
      this.checkPartnerValidForm();
      this.checkChildsValidForm();

			if(this.errors.length) {
				return;
			}

      this.sendForm();*/
		},
    checkGuestValidForm() {

      for (const field in this.form) {

        this.form[field].error = '';
        
        // Error required
        if(this.form[field].required && !this.form[field].value) {
          
          this.form[field].error = 'Campo obligatorio';
          this.errors.push(this.form[field].error);
        }

        // Error invalid
        if(this.form[field].value && this.form[field].pattern 
          && !this.form[field].pattern.test(this.form[field].value)) {

          this.form[field].error = this.form[field].invalidError;
          this.errors.push(this.form[field].error);
        }
      }
    },
    checkPartnerValidForm() {

      if(this.form.partner) {

        this.form.partner.name.error = '';

        if(!this.form.partner.name.value) {
          
          this.form.partner.name.error = 'Campo obligatorio';
          this.errors.push(this.form.partner.name.error);
        }
      }
    },
    checkChildsValidForm() {

      if(this.form.childs) {

        this.form.childs.forEach(child => {
          
          child.name.error = '';

          if(!child.name.value) {
          
            child.name.error = 'Campo obligatorio';
            this.errors.push(child.name.error);
          }
        });
      }
    },
    async sendForm() {

      try {

        this.isLoading = true;

        const { data } = await this.$axios.post('/guests', this.newGuest);
        
        if(data) {
          this.feedback = { type: 'success', text: '¡Gracias por confirmar tu asistencia! :)' };
          this.resetForm();
        }
      }
      catch (error) {
        console.error('Error creating new guest', error);
        this.feedback = { type: 'error', text: '¡Ups! Ha surgido un pequeño error. Por favor, inténtalo de nuevo.' };
      }
      finally {
        this.isLoading = false;
      }
    },
    resetForm() {

      for (const field in this.form) {
        
        this.form[field].error = '';
        this.form[field].value = '';

        if(field === 'hasBus') {
          this.form[field].value = false;
        }
      }

      this.errors = [];
      this.hasPartner = false;
      delete this.form.partner;
      delete this.form.childs;

      setTimeout(() => {
        this.feedback = null;
      }, 5000);
    }
	},
	watch: {
		hasPartner: function () {
			
			if (this.hasPartner) {
				
				this.form = {
					...this.form,
					partner: {
						name: {
							pattern: null,
              required: true,
              error: ''
						},
						intolerances: {
							pattern: null,
              required: true,
              error: ''
						}
					}
				};

				return;
			}
      
			delete this.form.partner;
		},
    'form.hasBus.value': function () {

      if(!this.form.hasBus.value) {
        this.form.numBusSeats.value = null;
      } 
    }
	},
};
</script>