<template>
  <div class="header-component shadow relative">
    <MenuComponent v-if="false" class="absolute top-0" @linkTo="$emit('linkTo', $event)" />
    <div class="header-info absolute space-y-4">
      <div class="mb-6">
        <h1>Alicia & Urbano</h1>
        <h5>24/06/23</h5>
      </div>
      <CountdownComponent />
      <div class="text-center">
        <h5>
          Bodegas Viña Santa Marina
        </h5>
        <a :href="href" target="_blank">(Click aquí para ir a la ubicación)</a>
      </div>
      <!-- <span class="icon icon-rings" /> -->
    </div>
  </div>
</template>

<script>

const CountdownComponent = () => import('@/components/CountdownComponent.vue');

export default {
	name: 'HeaderComponent',
	comments: {
		CountdownComponent
	},
  computed: {
    href() {
      return 'https://www.google.com/maps?rlz=1C5CHFA_enES953ES954&lqi=Chdib2RlZ2FzIGRlIHNhbnRhIG1hcmluYUjnyfKrp4GAgAhaJxAAEAEQAhADGAAYAhgDIhdib2RlZ2FzIGRlIHNhbnRhIG1hcmluYZIBBndpbmVyeZoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VORGVUZ3ljamhuUlJBQqoBPxABKhsiF2JvZGVnYXMgZGUgc2FudGEgbWFyaW5hKA4yHhABIhr8B9UrXY6RpeJ0M4M_L2BimSxDvSSjFuuIAQ&phdesc=kNjaBPVSCB4&vet=12ahUKEwjdoIyf1In-AhWgU6QEHar4AjQQ8UF6BAgDEFg..i&lei=UqYoZN2vKaCnkdUPqvGLoAM&cs=1&um=1&ie=UTF-8&fb=1&gl=es&sa=X&geocode=KdMcfzcxIBQNMUVUY-aR4ce5&daddr=C/+Ctra.+N-630.+P.K.+634.+Aptdo+.714,+06800+M%C3%A9rida,+Badajoz';
    }
  },
};
</script>
