<template>
    <div class="interest-point-card-component bg-grey shadow-md space-y-1">
        <h6 class="font-bold">
            <a :class="{ 'link': Boolean(interestPoint.url) }" :href="interestPoint.url" target="_blank">
                {{ interestPoint.name }}
            </a>
        </h6>
        <p class="text-sm italic" v-if="interestPoint.description">
            {{ interestPoint.description }}
        </p>
        <p>
            <span class="font-bold">Direccion: </span>
            {{ interestPoint.address }}
        </p>
        <p v-if="interestPoint.schedule">
            <span class="font-bold">Horario: </span> 
            {{ interestPoint.schedule }}
        </p>
        <p v-if="interestPoint.phone">
            <span class="font-bold">Teléfono: </span> 
            <a class="link" :href="href">{{ interestPoint.phone }}</a>
        </p>
        <p v-if="interestPoint.hasModal"
            class="link"
            @click="onOpenModal()"
        >
            + Ver habitaciones
        </p>
    </div>
</template>

<script>
export default {
    name: 'InterestPointCardComponent',
    props: {
        interestPoint: Object
    },
    computed: {
        href() {
            return `tel:+34${this.interestPoint.phone}`;
        }
    },
    methods: {
        onOpenModal() {
            this.$emit('on-open-modal', this.interestPoint);
        },
    }
}
</script>