<template>
  <div class="interest-point-list-component space-y-6">
    <h1 class="text-center font-bold">
      Puntos de interés
    </h1>

    <!-- Mobile -->
    <div data-app class="select-component-container">
      <v-select
        v-model="selectedOption"
        class="select-component"
        label="Selecciona una opción"
        item-value="id"
        item-text="label"
        return-object
        :items="options"
      >
      </v-select>
      <div class="space-y-4">
        <template v-if="selectedOption.id === 0">
          <InterestPointCardComponent v-for="(interestPoint, index) in hotels" :key="index" 
            :interestPoint="interestPoint"
            @on-open-modal="onOpenModal(interestPoint)"
          />
          <div>Mérida tiene gran oferta de apartamentos y pisos turísticos, que podéis reservar desde 
            <span class="font-bold">Booking</span> o <span class="font-bold">Airbnb</span>.
          </div>
        </template>
        <template v-if="selectedOption.id === 1">
          <InterestPointCardComponent v-for="(interestPoint, index) in hairdressingMakeup" :key="index" 
            :interestPoint="interestPoint"
            @on-open-modal="onOpenModal(interestPoint)"
          />
        </template>
        <template v-if="selectedOption.id === 2">
          <InterestPointCardComponent v-for="(interestPoint, index) in restaurants" :key="index" 
            :interestPoint="interestPoint"
            @on-open-modal="onOpenModal(interestPoint)"
          />
        </template>
      </div>
    </div>

    <!-- Ipad & Desktop -->
    <v-tabs 
      v-model="selectedTab" 
      class="tabs-component-container" 
      grow
    >
      <v-tab v-for="(option, index) in options" :key="index">
        {{ option.label }}
      </v-tab>
    </v-tabs>
    <v-tabs-items 
      v-model="selectedTab"
      class="tabs-component-container"
    >
      <v-tab-item v-for="(option, index) in options" :key="index">
        <div v-if="selectedTab === 0">
          <div class="interest-point-list-container">
            <InterestPointCardComponent v-for="(interestPoint, index) in hotels" :key="index" 
              :interestPoint="interestPoint"
              @on-open-modal="onOpenModal(interestPoint)"
            />
          </div>
          <div class="mt-4">Mérida tiene gran oferta de apartamentos y pisos turísticos, que podéis reservar desde 
            <span class="font-bold">Booking</span> o <span class="font-bold">Airbnb</span>.
          </div>
        </div>
        <div class="interest-point-list-container" v-if="selectedTab === 1">
          <InterestPointCardComponent v-for="(interestPoint, index) in hairdressingMakeup" :key="index" 
            :interestPoint="interestPoint"
            @on-open-modal="onOpenModal(interestPoint)"
          />
        </div>
        <div class="interest-point-list-container" v-if="selectedTab === 2">
          <InterestPointCardComponent v-for="(interestPoint, index) in restaurants" :key="index" 
            :interestPoint="interestPoint"
            @on-open-modal="onOpenModal(interestPoint)"
          />
        </div>
      </v-tab-item>
    </v-tabs-items>

  </div>
</template>

<script>

const InterestPointCardComponent = () => import('./InterestPointCardComponent.vue');

export default {
  name: 'InterestPointListComponent',
  components: {
    InterestPointCardComponent,
  },
  data: () => ({
    selectedOption: { id: 0, label: 'Hoteles' },
    selectedTab: 0,
    options: [
      { id: 0, label: 'Hoteles' },
      { id: 1, label: 'Peluquería y maquillaje' },
      { id: 2, label: 'Restaurantes' },
    ],
  }),
  computed: {
    hotels() {
      return this.$services.interestPoints.getInterestPoints().hotels;
    },
    restaurants() {
      return this.$services.interestPoints.getInterestPoints().restaurants;
    },
    hairdressingMakeup() {
      return this.$services.interestPoints.getInterestPoints().hairdressingMakeup;
    },
    interestPointList() {
      return this.$services.interestPoints.getInterestPoints();
    }
  },
  methods: {
    onOpenModal(interestPoint) {
      this.$emit('on-open-modal', interestPoint);
    }
  }
}
</script>