<template>
  <div class="menu-component">
    
    <div class="container">
      <div class="menu-btn">
        <FABButtonComponent name="list" @click="closeMenu()" />
      </div>
      
      <ul class="menu-list">
        <li>
          <nuxt-link to="/#nuestra-historia">
            ¡NOS CASAMOS!
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/#dia-boda">
            DÍA DE LA BODA
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/#confirmar-asistencia">
            CONFIRMAR ASISTENCIA
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/#puntos-interes">
            PUNTOS DE INTERÉS
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/#contacto">
            CONTACTO
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/#lista-boda">
            LISTA DE BODAS
          </nuxt-link>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>

const FABButtonComponent = () => import('./FABButtonComponent.vue');

export default {
	name: 'MenuComponent',
  components: {
    FABButtonComponent
  },
  methods: {
    closeMenu() {
      $nuxt.$emit('show-menu');
    }
  }
};
</script>
