<template>
  <div class="menu-mobile-component">
    <div class="menu-btn">
      <FABButtonComponent name="cancel2" @click="closeMenu()" />
    </div>
    <ul class="menu-list">
      <li @click="closeMenu('nuestra-historia')">
        <span class="icon icon-lemon-o" />
        <nuxt-link to="/#nuestra-historia">
          ¡NOS CASAMOS!
        </nuxt-link>
      </li>
      <li @click="closeMenu('dia-boda')">
        <span class="icon icon-lemon-o" />
        <nuxt-link to="/#dia-boda">
          DÍA DE LA BODA
        </nuxt-link>
      </li>
      <li @click="closeMenu('confirmar-asistencia')">
        <span class="icon icon-lemon-o" />
        <nuxt-link to="/#confirmar-asistencia">
          CONFIRMAR ASISTENCIA
        </nuxt-link>
      </li>
      <li @click="closeMenu('puntos-interes')">
        <span class="icon icon-lemon-o" />
        <nuxt-link to="/#puntos-interes">
          PUNTOS DE INTERÉS
        </nuxt-link>
      </li>
      <li @click="closeMenu('contacto')">
        <span class="icon icon-lemon-o" />
        <nuxt-link to="/#contacto">
          CONTACTO
        </nuxt-link>
      </li>
      <li @click="closeMenu('lista-boda')">
        <span class="icon icon-lemon-o" />
        <nuxt-link to="/#lista-boda">
          LISTA DE BODAS
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>

const FABButtonComponent = () => import('./FABButtonComponent.vue');

export default {
  name: 'MenuMobileComponent',
  components: {
    FABButtonComponent
  },
  methods: {
    closeMenu(id) {
      this.$emit('on-close-menu', id);
    }
  }
}
</script>