<template>
  <div class="step-detail-component">
    <div class="step-info" :class="classes">
        <span :class="`icon icon-${step.icon}`" />
        <h3>{{ step.title }}</h3>
        <p :v-html="step.description"></p>
    </div>
    <div class="step-container">
        <div class="circle"></div>
        <div class="line"></div>
    </div>
  </div>
</template>

<script>
export default {
	name: 'StepDetailComponent',
	props: {
		step: Object
	},
	computed: {
		classes() {
			return {
				'step-left': Boolean(this.step.position === 'left'),
				'step-right': Boolean(this.step.position === 'right')
			};
		}
	}
};
</script>