<template>
  <div class="wedding-step-component" :class="classes">
    <span :class="`icon icon-${step.icon}`" />
    <h4 class="title">{{ step.title }}</h4>
    <p class="description" v-html="step.description"></p>
  </div>
</template>

<script>
export default {
	name: 'WeddingStepComponent',
	props: {
		step: Object
	},
	computed: {
		classes() {
			return {
				'left': Boolean(this.step.position === 'left'),
				'right': Boolean(this.step.position === 'right')
			};
		}
	}
};
</script>