<template>
  <div class="wedding-details-component">
    <h1 class="text-center font-bold mb-6">
      Día de la boda
    </h1>
    <div class="wedding-details-container">
      <WeddingStepComponent
        :step="{ icon: 'bus', title: 'AUTOBÚS', description: busDescription, position: 'right' }"
      />
      <WeddingStepComponent
        :step="{ icon: 'rings', title: 'CEREMONIA', description: ringsDescription, position: 'left' }"
      />
      <WeddingStepComponent
        :step="{ icon: 'drinking', title: 'COCKTAIL', description: drinkingDescription, position: 'right' }"
      />
      <WeddingStepComponent
        :step="{ icon: 'cutlery', title: 'CENA', description: cutleryDescription, position: 'left' }"
      />
      <WeddingStepComponent
        :step="{ icon: 'music', title: 'FIESTA', description: musicDescription, position: 'right' }"
      />
    </div>
  </div>
</template>

<script>

const WeddingStepComponent = () => import('./WeddingStepComponent.vue');

export default {
	name: 'WeddingDetailsComponent',
	components: {
		WeddingStepComponent
	},
  computed: {
    busDescription() {
      return 'Hay programado un viaje de ida a las Bodegas y dos regresos a Mérida.<br><br>Salida desde Mérida a las Bodegas: <strong>18:30 horas</strong> desde el aparcamiento del <strong>Hotel Zeus</strong>.<br><br>Regresos de las Bodegas a Mérida: uno a mitad de la noche y el segundo al final.<br><br><span class="text-bold text-underline">Fecha máxima para confirmar tu plaza de ida de Mérida a las Bodegas 19/06/23</span>.';
    },
    ringsDescription() {
      return '¡Comienza la celebración!<br>A las 19:30 horas en los exteriores de las Bodegas.'
    },
    drinkingDescription() {
      return 'A las 20:30 horas aproximadamente.<br>A disfrutar de la comida, la música y el buen vino.';
    },
    cutleryDescription() {
      return 'Sobre las 22:15 horas, seguiremos comiendo muy rico ¡BON APPETIT!';
    },
    musicDescription() {
      return 'Arrancaremos sobre las 01:00 horas. ¡Toca mover el esqueleto hasta que el cuerpo aguante!';
    }
  }
};
</script>