/* Benilla Calligraphy */
@font-face {
  font-family: 'Benilla';
  src: url('~assets/fonts/benilla-calligraphy/benilla-calligraphy.woff') format('woff'),
    url('~assets/fonts/benilla-calligraphy/benilla-calligraphy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Bitter */
@font-face {
  font-family: 'Bitter';
  src: url('~assets/fonts/bitter/bitter.woff') format('woff'),
    url('~assets/fonts/bitter/bitter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Quicksand Regular */
@font-face {
  font-family: 'Quicksand';
  src: url('~assets/fonts/quicksand-regular/quicksand-regular.woff') format('woff'),
    url('~assets/fonts/quicksand-regular/quicksand-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Icons */
@font-face {
  font-family: 'wedding-icons';
  src: url('~assets/fonts/icons/wedding-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icons/icomoon.eot?poi0a6');
  src: url('/fonts/icons/icomoon.eot?poi0a6#iefix') format('embedded-opentype'),
    url('/fonts/icons/icomoon.ttf?poi0a6') format('truetype'),
    url('/fonts/icons/icomoon.woff?poi0a6') format('woff'),
    url('/fonts/icons/icomoon.svg?poi0a6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}*/