.icon-lemon-o:before {
  content: "\f094";
}

.icon-checkmark1:before {
  content: "\e94b";
}

.icon-checkmark:before {
  content: "\e948";
}

.icon-cancel1:before {
  content: "\e94c";
}

.icon-cancel:before {
  content: "\e949";
}

.icon-plus:before {
  content: "\e94d";
}

.icon-plus1:before {
  content: "\e94e";
}

.icon-minus:before {
  content: "\e94f";
}

.icon-minus1:before {
  content: "\e950";
}

.icon-notice:before {
  content: "\e951";
}

.icon-notice1:before {
  content: "\e952";
}

.icon-time:before {
  content: "\e953";
}

.icon-checkmark2:before {
  content: "\e954";
}

.icon-cancel2:before {
  content: "\e955";
}

.icon-location1:before {
  content: "\e956";
}

.icon-trashcan:before {
  content: "\e957";
}

.icon-list:before {
  content: "\e958";
}

.icon-heart1:before {
  content: "\e959";
}

.icon-bus:before {
  content: "\e94a";
}

.icon-pictures:before {
  content: "\e95a";
}

.icon-heart:before {
  content: "\e918";
}

.icon-cloud:before {
  content: "\e919";
}

.icon-star:before {
  content: "\e91a";
}

.icon-tv:before {
  content: "\e91b";
}

.icon-sound:before {
  content: "\e91c";
}

.icon-video:before {
  content: "\e91d";
}

.icon-trash:before {
  content: "\e91e";
}

.icon-user:before {
  content: "\e91f";
}

.icon-key:before {
  content: "\e920";
}

.icon-search:before {
  content: "\e921";
}

.icon-settings:before {
  content: "\e922";
}

.icon-camera1:before {
  content: "\e923";
}

.icon-tag:before {
  content: "\e924";
}

.icon-lock:before {
  content: "\e925";
}

.icon-bulb:before {
  content: "\e926";
}

.icon-pen:before {
  content: "\e927";
}

.icon-diamond:before {
  content: "\e928";
}

.icon-display:before {
  content: "\e929";
}

.icon-location:before {
  content: "\e92a";
}

.icon-eye:before {
  content: "\e92b";
}

.icon-bubble:before {
  content: "\e92c";
}

.icon-stack:before {
  content: "\e92d";
}

.icon-cup:before {
  content: "\e92e";
}

.icon-phone:before {
  content: "\e92f";
}

.icon-news:before {
  content: "\e930";
}

.icon-mail:before {
  content: "\e931";
}

.icon-like:before {
  content: "\e932";
}

.icon-photo:before {
  content: "\e933";
}

.icon-note:before {
  content: "\e934";
}

.icon-clock:before {
  content: "\e935";
}

.icon-paperplane:before {
  content: "\e936";
}

.icon-params:before {
  content: "\e937";
}

.icon-banknote:before {
  content: "\e938";
}

.icon-data:before {
  content: "\e939";
}

.icon-music1:before {
  content: "\e93a";
}

.icon-megaphone:before {
  content: "\e93b";
}

.icon-study:before {
  content: "\e93c";
}

.icon-lab:before {
  content: "\e93d";
}

.icon-food:before {
  content: "\e93e";
}

.icon-t-shirt:before {
  content: "\e93f";
}

.icon-fire:before {
  content: "\e940";
}

.icon-clip:before {
  content: "\e941";
}

.icon-shop:before {
  content: "\e942";
}

.icon-calendar:before {
  content: "\e943";
}

.icon-wallet:before {
  content: "\e944";
}

.icon-vynil:before {
  content: "\e945";
}

.icon-truck:before {
  content: "\e946";
}

.icon-world:before {
  content: "\e947";
}

.icon-bell:before {
  content: "\e900";
}

.icon-bridal-bouquet:before {
  content: "\e901";
}

.icon-bride-and-bride:before {
  content: "\e902";
}

.icon-bride-and-groom:before {
  content: "\e903";
}

.icon-bride:before {
  content: "\e904";
}

.icon-cake:before {
  content: "\e905";
}

.icon-camera:before {
  content: "\e906";
}

.icon-champagne:before {
  content: "\e907";
}

.icon-church:before {
  content: "\e908";
}

.icon-cutlery:before {
  content: "\e909";
}

.icon-dove:before {
  content: "\e90a";
}

.icon-drinking:before {
  content: "\e90b";
}

.icon-gift_2:before {
  content: "\e90c";
}

.icon-groom-and-groom:before {
  content: "\e90d";
}

.icon-groom:before {
  content: "\e90e";
}

.icon-just-married:before {
  content: "\e90f";
}

.icon-love-sign:before {
  content: "\e910";
}

.icon-music:before {
  content: "\e911";
}

.icon-photos:before {
  content: "\e912";
}

.icon-proposal:before {
  content: "\e913";
}

.icon-rings:before {
  content: "\e914";
}

.icon-wedding-doves:before {
  content: "\e915";
}

.icon-wedding-location:before {
  content: "\e916";
}

.icon-wedding-vows:before {
  content: "\e917";
}