/*@tailwind base;*/
@import 'tailwindcss/base';
/*@tailwind components;*/
@import 'tailwindcss/components';

/*! purgecss start ignore */
@import './fonts.css';
@import './icons.css';
/*! purgecss end ignore */

/*@tailwind utilities;*/
@import 'tailwindcss/utilities';

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wedding-icons' !important;
    speak: never;
    font-style: normal;
    font-size: 85px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}