@import "./typesetting.scss";
@import "./vuetify.scss";

// Components
@import "./components/contact_component";
@import "./components/countdown_component";
@import "./components/error_text_component";
@import "./components/footer_component";
@import "./components/fab_button_component";
@import "./components/feedback_component";
@import "./components/gallery_component";
@import "./components/guest_form_component";
@import "./components/guest_list_component";
@import "./components/header_component";
@import "./components/interest_point_list_component";
@import "./components/menu_component";
@import "./components/step_detail_component";
@import "./components/wedding_details_component";
@import "./components/wedding_step_component";

// Modals
@import "./modals/info_modal_component";
@import "./modals/modal_component";

html {
    scroll-behavior: smooth;
}

.wedding-app {

    * {
        font-family: 'Quicksand', 'Bitter';
    }

    .container {
        padding: 1.5rem;
        margin: auto;
    }

    .section-grey {
        background: #F3F3F3;
    }

    .link {
        color: #61affe;
        font-weight: 700;
        cursor: pointer;
    }

    .text-bold {
        font-weight: 700;
    }

    .text-underline {
        text-decoration: underline;
    }
}

.wedding-app.has-modal {
    height: 100vh;
    overflow: hidden;
}