h1 {
    font-size: 1.75rem; // 28px
}

h2 {
    font-size: 1.625rem; // 26px
}

h3 {
    font-size: 1.5rem; // 24px
}

h4 {
    font-size: 1.5rem; // 24px
}

h5 {
    font-size: 1.25rem; // 20px
}

h6 {
    font-size: 1.125rem; // 18px
}

p {
    font-size: 1rem;
}

@media (min-width: 768px) {

    h1 {
        font-size: 2rem; // 32px
    }

    h2 {
        font-size: 1.75rem; // 28px
    }

    h3 {
        font-size: 1.625rem; // 26px
    }
}