.v-application--wrap {
    min-height: auto !important;
}

.v-input {

    margin: 0;
    padding: 0;

    .v-text-field__details,
    .v-messages {
        display: none;
    }
}

@media (min-width: 768px) {

    .v-image__image--cover {
        background-size: contain !important;
    }
}