<template>
  <div class="wedding-app relative"
    :class="{'has-modal': showInfoModal}"
  >

    <MenuMobileComponent v-if="false" 
      @on-close-menu="closeMenu($event)" 
    />

    <template v-else>
      
      <HeaderComponent />

      <!-- Gallery -->
      <div class="gallery section-grey">
        <div id="nuestra-historia" class="container my-8 p-6">
          <GalleryComponent />
        </div>
      </div>

      <!-- Wedding Details -->
      <div class="wedding-details container py-8">
        <WeddingDetailsComponent 
          id="dia-boda" 
          class="m-auto" 
        />
      </div>
    
      <!-- Guest Form -->
      <div class="guest-form section-grey py-8">
        <div class="container my-8 p-6 space-y-6">
          <GuestFormComponent 
            id="confirmar-asistencia" 
            class="m-auto bg-white shadow p-6" 
          />
        </div>
      </div>

      <!-- Interest Point List -->
      <div class="interest-point-list relative">
        <div id="puntos-interes" class="container my-8 p-6 space-y-6">
          <InterestPointListComponent 
            @on-open-modal="onOpenModal($event)" 
          />
        </div>
      </div>

      <!-- Contact -->
      <div class="contact section-grey">
        <div id="contacto" class="container my-8 p-6 space-y-6">
          <ContactComponent />
        </div>
      </div>
      
      <!-- Footer -->
      <FooterComponent />

      <!--Modals -->
      <InfoModalComponent v-if="showInfoModal" />
      <InterestPointModal v-if="interestPoint" 
        :interestPoint="interestPoint" 
      />

    </template>

  </div>
</template>

<script>

const ContactComponent = () => import('@/components/ContactComponent.vue');
const FooterComponent = () => import('@/components/FooterComponent.vue');
const GalleryComponent = () => import('@/components/GalleryComponent.vue');
const GiftListComponent = () => import('@/components/GiftListComponent.vue');
const GuestFormComponent = () => import('@/components/GuestFormComponent.vue');
const HeaderComponent = () => import('@/components/HeaderComponent.vue');
const InterestPointListComponent = () => import('@/components/InterestPointListComponent.vue');
const MenuMobileComponent = () => import('@/components/MenuMobileComponent.vue');
const WeddingDetailsComponent = () => import('@/components/WeddingDetailsComponent.vue');

// Modals
const InfoModalComponent = () => import('@/components/modals/InfoModalComponent.vue');
const InterestPointModal = () => import('@/components/modals/InterestPointModalComponent.vue');

export default {
	name: 'IndexPage',
	components: {
    ContactComponent,
    FooterComponent,
    GalleryComponent,
    GiftListComponent,
		GuestFormComponent,
		HeaderComponent,
    InterestPointListComponent,
    MenuMobileComponent,
		WeddingDetailsComponent,
    // Modals
    InfoModalComponent,
    InterestPointModal
	},
  data: () => ({
    hasModal: false,
    showMenu: false,
    showInfoModal: false,
    interestPoint: null
  }),
  created() {

    this.$nuxt.$on('on-close-modal', (id) => {
      this.hasModal = false;
      this.showInfoModal = false;
      this.interestPoint = null;
      this.scrollToSection(id);
    });

    this.$nuxt.$on('show-menu', () => {
      this.showMenu = true;
    });
  },
	methods: {
    closeMenu(id) {
      this.showMenu = false;
      this.scrollToSection(id);
    },
    scrollToSection(id) {

      if(id) {
        setTimeout(() => {
          document.getElementById(id)?.scrollIntoView();
        }, 100);
      }
    },
    onOpenModal(interesPoint) {
      this.interestPoint = interesPoint;
    }
  }
};
</script>

<style lang="scss">
  @import "../theme/main.scss";
</style>
