<template>
    <div class="guest-list-component">

        <div class="guest-list-container">

            <div class="guest-list">
                <div class="guest-header">
                    <div class="name data font-bold">Nombre y apellidos</div>
                    <div class="phone data font-bold">Teléfono</div>
                    <div class="intolerances data font-bold">Intolerancias</div>
                    <div class="num-bus-seats data font-bold">Nº plazas de autobús</div>
                    <div class="child-menu data font-bold">Menú infantil</div>
                </div>
                <div class="guest-info" v-for="(guest, index) in guestList" :key="index">
                    <div class="name data space-y-2">
                        <div>{{ guest.name }} {{ guest.surname }}</div>
                        <div v-if="guest.partner">- {{ guest.partner.name }} (Acompañante)</div>
                        <div v-for="(child, index) in guest.childs" :key="index"> 
                            - {{ child.name }} (Hijo/s)
                        </div> 
                    </div>
                    <div class="phone data">{{ guest.phone }}</div>
                    <div class="intolerances data">
                        <div>{{ guest.intolerances }}</div>
                        <div v-if="guest.partner">
                            {{ guest.partner.intolerances }}
                        </div>
                        <div v-for="(child, index) in guest.childs" :key="index"> 
                            {{ child.intolerances }}
                        </div> 
                    </div>
                    <div class="num-bus-seats data text-center">{{ guest.numBusSeats }}</div>
                    <div class="child-menu data text-center">
                        <div>{{ getNumChildMenu(guest) }}</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-4 space-y-2">
            <p><span class="font-bold">Nº plazas de autobús:</span> {{ numBusSeats }}</p>
            <p><span class="font-bold">Nº menú infantil:</span> {{ numChildMenus }}</p>
        </div>

    </div>
</template>

<script>
export default {
    data: () => ({
        guests: []
    }),
    async created() {
        this.guests = await this.$services.guests.getGuestList();
    },
    computed: {
        guestList() {
            return this.guests.filter(user => !user.guest_id);
        },
        numBusSeats() {
            return this.guestList.reduce((acc, guest) => {
                acc += guest.numBusSeats;
                return acc;
            }, 0);
        },
        numChildMenus() {
            return this.guestList.reduce((acc, guest) => {
                acc += this.getNumChildMenu(guest);
                return acc;
            }, 0);
        }
    },
    methods: {
        getNumChildMenu(guest) {
            return guest.childs.filter(child => child.hasChildMenu).length;
        }
    }
}
</script>

<style lang="scss">
  @import "../theme/main.scss";
</style>