<template>
    <ModalComponent class="info-modal-component p-4">
        <template v-slot:body>
            <div class="space-y-2">
                <p>¿Contamos contigo? ¡Deseamos que sí!</p>
                <p>
                    Os pedimos, por favor, 
                    <span class="link underline" @click="closeModal()">
                        <nuxt-link to="/#confirmar-asistencia">
                            CONFIRMAR LO ANTES POSIBLE
                        </nuxt-link>
                    </span>, así organizarlo todo nos será mucho más fácil.
                </p>   
            </div>
        </template>
    </ModalComponent>
</template>

<script>

const ModalComponent = () => import('./ModalComponent.vue');

export default {
    name: 'InfoModalComponent',
    components: {
        ModalComponent
    },
    methods: {
        closeModal() {
            this.$nuxt.$emit('on-close-modal', 'confirmar-asistencia');
        }
    }
}
</script>

<style>

</style>