<template>
  <ModalComponent class="interest-point-modal-component shadow">
    <template v-slot:body>
      <div class="space-y-4">
        <h4 class="font-bold">{{ interestPoint.name }}</h4>
        <p v-html="interestPoint.info"></p>
      </div>
    </template>
  </ModalComponent>
</template>

<script>

const ModalComponent = () => import('./ModalComponent.vue');

export default {
    name: 'InterestPointModalComponent',
    props: {
      interestPoint: Object
    },
    components: {
        ModalComponent
    }
}
</script>