<template>
  <div class="modal-component">
    <div class="modal-container space-y-4">
        <div class="modal-header">
          <FABButtonComponent 
            name="cancel2" 
            small
            @click="closeModal()" 
          />
        </div>
        <div class="modal-body">
          <slot name="body" />
        </div>
        <div class="modal-footer">
          <slot name="footer" />
        </div>
    </div>
  </div>
</template>

<script>

const FABButtonComponent = () => import('../FABButtonComponent.vue');

export default {
    name: 'ModalComponent',
    components: {
      FABButtonComponent
    },
    created() {
      this.$nuxt.$emit('on-open-modal');
    },
    methods: {
      closeModal() {
        this.$nuxt.$emit('on-close-modal');
      }
    }
}
</script>