.countdown-component {

    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(2, 100px);
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .countdown-item {

        width: 100px;
        height: 100px;
        border: 5px dotted #cda434;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;

        span {
            font-size: .875rem;
        }
    }

    @media (min-width: 768px) {

        grid-template-rows: auto;
        grid-template-columns: repeat(4, 150px);

        /*.countdown-item {

            width: 150px;
            height: 150px;

            span {
                font-size: 1rem;
            }
        }*/
    }
}