.fab-button-component {

    width: 50px;
    height: 50px;
    padding: 0.5rem;
    background: #fff;
    border: 1px solid #cda434;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon {
        font-size: 2rem;
        color: #cda434;
    }
}

.fab-button-component.small {

    width: 25px;
    height: 25px;

    .icon {
        font-size: 1rem;
    }
}