.feedback-component {

    max-width: 100%;
    padding: 0.5rem;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: .875rem;

    @media (min-width: 768px) {
        max-width: 75%;
    }
}

.feedback-component.success {
    border-color: #4caf50;
    color: #4caf50;
}

.feedback-component.error {
    border-color: #ff5252;
    color: #ff5252;
}