.footer-component {

    .info {
        border-top: 1px solid gainsboro;
        font-weight: 700;
        color: #cda434;
        padding: 1rem;
    }

    .copyright {
        padding: 0.5rem;
        font-size: .75rem;
        background: #141414;
        color: #fff;
    }
}