/*.guest-list-component {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .guest-list {

        border: 1px solid gainsboro;

        th,
        tr,
        td {
            padding: 1rem;
        }
    }
}*/

.guest-list-component {

    .guest-list-container {

        display: flex;
        overflow: auto;

        .guest-list {

            display: flex;
            flex-direction: column;
            margin: 1rem;
            padding: 1rem;
            border: 1px solid gainsboro;

            .guest-header,
            .guest-info {

                display: grid;
                grid-template-columns: repeat(6, auto);
                gap: 1rem;
                justify-content: flex-start;
                padding: 1rem 0;
            }

            .guest-info {
                border-top: 1px solid gainsboro;
            }

            .name {
                width: 250px;
            }

            .phone {
                width: 90px;
            }

            .email {
                width: 200px;
            }

            .intolerances {
                width: 120px;
            }

            .num-bus-seats {
                width: 165px;
            }

            .child-menu {
                width: 110px;
            }
        }
    }
}