.guest-form-component {

    .form-container {

        // Childs
        .childs-container {

            .add-child-btn {

                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                cursor: pointer;

                .v-btn {
                    width: 30px;
                    height: 30px;
                    margin-right: 0.5rem;
                }
            }

            .child-form-container {

                .child-form {

                    padding: 1rem;
                    margin: 0.5rem 0;
                    border: 1px solid gainsboro;
                    border-radius: 5px;

                    .child-menu {
                        padding: 0;
                        margin: 0 0.5rem 0 0;
                    }

                    .delete-child-btn {
                        color: #f44336;
                    }
                }
            }
        }
    }

    .loading {
        width: 25px;
    }

    @media (min-width: 768px) {
        max-width: 85%;
    }

    @media (min-width: 992px) {
        max-width: 650px;
    }
}