.header-component {

    height: 100vh;
    //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imgs/header/header_7.jpeg");
    background-image: url("/imgs/header/header_7.jpeg");
    background-size: cover;

    .header-info {

        width: 100%;
        top: 32%;
        font-weight: 700;
        text-align: center;
        color: #cda434;

        span.icon {
            position: relative;
            bottom: 1rem;
            font-size: 70px;
        }
    }

    @media (min-width: 768px) {

        .header-info {
            top: 41%;
        }
    }
}