.interest-point-list-component {

    .select-component-container {

        .select-component {
            margin-bottom: 1.5rem;
        }
    }

    .tabs-component-container {
        display: none;
    }

    .interest-point-list-container {

        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        gap: 1rem;
    }

    .interest-point-card-component {

        padding: 1rem;
        background: #F3F3F3;
    }

    @media (min-width: 768px) {

        .select-component-container {
            display: none;
        }

        .tabs-component-container {
            display: block;
        }

        .interest-point-list-container {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(2, auto);
        }
    }
}