/*.menu-component {

    width: 100%;

    .menu-container {

        display: flex;
        justify-content: flex-end;

        .menu-list {
            display: none;
        }
    }

    @media (min-width: 768px) {

        border-bottom: 1px solid gainsboro;

        .menu-container {

            display: block;

            .menu-btn {
                display: none;
            }

            .menu-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                cursor: pointer;

                li {
                    border: 2px solid transparent;
                    padding: 0.5rem;
                }

                li:hover {
                    border: 2px solid #fff;
                }
            }
        }
    }
}*/

.menu-component {

    width: 100%;

    .menu-btn {
        display: flex;
        justify-content: flex-end;
    }

    .menu-list {
        display: none;

        li {
            font-size: 0.75rem;
            color: #cda434;
        }
    }

    @media (min-width: 768px) {

        border-bottom: 1px solid #cda434;

        .menu-btn {
            display: none;
        }

        .menu-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            cursor: pointer;

            li {
                border: 2px solid transparent;
                padding: 0.5rem;
            }

            li:hover {
                border: 2px solid #fff;
            }
        }
    }

    @media (min-width: 992px) {

        .menu-list {

            li {
                font-size: 0.875rem;
            }
        }
    }

    @media (min-width: 1200px) {

        .menu-list {

            li {
                font-size: 1rem;
            }
        }
    }
}

.menu-mobile-component {

    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    z-index: 10;
    padding: 1.5rem;

    .menu-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
    }

    .menu-list {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;
            padding: 1.5rem 0;
            font-size: 1.5rem;
            color: #cda434;
            border-bottom: 3px dotted #cda434;
            font-size: 1.25rem;

            .icon {
                font-size: 1.25rem;
                margin-right: 0.5rem;
            }
        }
    }
}