.step-detail-component {

    height: 200px;

    .step-info {

        position: relative;
        top: 50%;
        max-width: 150px;
        text-align: center;
    }

    .step-info.step-left {
        left: 50%;
    }

    .step-info.step-right {
        right: 50%;
    }

    .step-container {

        display: flex;
        align-items: center;
        transform: rotate(90deg);

        .circle {
            width: 20px;
            height: 20px;
            border: 1px solid #aaa;
            border-radius: 50%;
        }

        .line {
            width: 180px;
            border: 1px solid #aaa;
        }
    }
}