.wedding-details-component {

    .wedding-details-container {
        position: relative;
        overflow: visible;
    }

    .wedding-details-container::after {

        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        //margin-left: -0.5px;
        width: 1px;
        background: #ccc;
    }

    @media (min-width: 768px) {

        .wedding-details-container {
            overflow: hidden;
        }

        .wedding-details-container::after {
            left: 50%;
        }
    }
}