.wedding-step-component {

    position: relative;
    width: 100%;
    float: none;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    clear: both;

    .icon {
        color: #cda434;
    }

    .title {
        margin: 0.5rem 0;
    }

    .description {
        color: #555;
    }

    .icon.icon-bus {
        font-size: 60px;
    }
}

.wedding-step-component::after {

    content: '';
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid #aaa;
}

.wedding-step-component.right::after {
    left: 0;
    margin-left: -9px;
}

.wedding-step-component.left::after {
    left: 0;
    right: 0;
    margin-left: -9px;
    margin-right: -9px;
}

@media (min-width: 768px) {

    .wedding-step-component {
        width: 35%;
        text-align: center;
    }

    .wedding-step-component.right {
        float: right;
        right: 15%;
    }

    .wedding-step-component.left {
        float: left;
        right: 0;
        left: 15%;
    }

    /*.wedding-step-component.right::after {
        left: 0;
        margin-left: -9px;
    }*/

    .wedding-step-component.left::after {
        right: 0;
        left: auto;
        margin-right: -9px;
        margin-left: 0;
    }
}